button {
    background-color: #A9927D;
    border-radius: 5px;
    height: 40px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    background-color: #F2F4F3;
    display:flex;
    flex-flow: column wrap;
    padding: 13px;
    border-radius: 5px;
    gap: 3px;
    width: 300px;
    box-shadow: 2px;
    display: flex;
    height: 650px;
    
}

#res {
    background-color: #A9927D; 
    padding: 4px;
    border-radius: 3px;
}